In [3]:
import pandas as pd

In [15]:
data={'prenom':['hamza','hichame','oussama','hamza','hakim'],
     'nom':['hamza','hichame','oussama','hamza','hakim'],
      'id':['1234','1235','1236','1237','1238'],
     }

In [16]:
pd.DataFrame(data)

    prenom      nom    id
0    hamza    hamza  1234
1  hichame  hichame  1235
2  oussama  oussama  1236
3    hamza    hamza  1237
4    hakim    hakim  1238

In [17]:
data

{'prenom': ['hamza', 'hichame', 'oussama', 'hamza', 'hakim'],
 'nom': ['hamza', 'hichame', 'oussama', 'hamza', 'hakim'],
 'id': ['1234', '1235', '1236', '1237', '1238']}